.admin-container {
  padding: 20px;
  text-align: center;
  width: 100%;
}

.admin-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.button-box {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-box button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #234e28;
  color: white;
  cursor: pointer;
}

.button-box button:hover {
  background-color: #153119;
}
